.modal-header {
    padding: 0.5rem 0.5rem;
    color: red;
}

#tbodyStudenti > tr > td > em {
	font-size: 18px;
    padding: 3px 11px;
    color: rgba(43, 91, 219, 0.7);
}

.del-ico {
	color: red !important;
}


#tbodyStudenti > tr > td > em:hover {
	font-size: 22px;
    padding: 0 9px 0 8px;
    color: rgba(43, 91, 219, 1);
}